---
title: Publications
layout: archive
---

{{ content }}

<ul class="taxonomy__index">
  {% assign publicationsByYear = site.publications | where_exp: "item", "item.hidden != true" | group_by_exp: 'publications', 'publications.date | date: "%Y"' | sort: 'name' | reverse %}
  {% for year in publicationsByYear %}
    <li>
      <a href="#{{ year.name }}">
        <strong>{{ year.name }}</strong>
      </a>
    </li>
  {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% for year in publicationsByYear %}
  <h2 id="{{ year.name }}"><a href="#{{ year.name }}">{{ year.name }}</a></h2>
  {% for entry in year.items %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
{% endfor %}
